In [1]:
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

'AIzaSyDBBAGh7ihfmMUjnk3o0CLRtNZ5h94VGAc'

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,city,lat,lng,max_temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,-9.8000,-139.0333,77.72,66,59,18.88
1,1,Dingle,10.9995,122.6711,77.40,81,100,11.59
2,2,Eureka,40.8021,-124.1637,79.66,69,16,7.00
3,3,Havoysund,70.9963,24.6622,45.48,92,100,28.50
4,4,Mataura,-46.1927,168.8643,43.48,97,100,3.29

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["lat", "lng"]]
# Get the maximum temperature.
max_temp = city_data_df["max_temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["lat", "lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 25
What is the maximum temperature you would like for your trip? 40

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["max_temp"] <= max_temp) & \
                                       (city_data_df["max_temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,city,lat,lng,max_temp,Humidity,Cloudiness,Wind Speed
12,12,Ushuaia,-54.8000,-68.3000,33.46,86,75,5.75
33,33,Punta Arenas,-53.1500,-70.9167,39.31,81,90,14.97
89,89,Barrow,71.2906,-156.7887,37.42,96,90,18.41
109,109,Clyde River,70.4692,-68.5914,39.43,87,90,9.22
110,110,Qaanaaq,77.4840,-69.3632,38.05,99,100,13.73
198,198,Leningradskiy,69.3833,178.4167,37.06,78,100,5.32
204,204,Tiksi,71.6872,128.8694,39.27,95,100,4.14
253,253,Graaff-Reinet,-32.2522,24.5308,38.91,87,91,9.75
403,403,Te Anau,-45.4167,167.7167,39.83,94,98,2.77
406,406,Willowmore,-33.2926,23.4895,35.80,86,100,20.76

In [14]:
#check for null values
preferred_cities_df.count()

City_ID       12
city          12
lat           12
lng           12
max_temp      12
Humidity      12
Cloudiness    12
Wind Speed    12
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["city", "max_temp", "lat", "lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              city  max_temp      lat       lng Hotel Name
12         Ushuaia     33.46 -54.8000  -68.3000
33    Punta Arenas     39.31 -53.1500  -70.9167
89          Barrow     37.42  71.2906 -156.7887
109    Clyde River     39.43  70.4692  -68.5914
110        Qaanaaq     38.05  77.4840  -69.3632
198  Leningradskiy     37.06  69.3833  178.4167
204          Tiksi     39.27  71.6872  128.8694
253  Graaff-Reinet     38.91 -32.2522   24.5308
403        Te Anau     39.83 -45.4167  167.7167
406     Willowmore     35.80 -33.2926   23.4895

In [17]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
for index,row in hotel_df.iterrows():
    
    lat=row["lat"]
    lng=row["lng"]
    params["location"]=f"{lat},{lng}"
    
    url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotel=requests.get(url,params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"]=hotel["results"][0]["name"]
    except (IndexError):
        print("hotel not found skip")
        continue

In [21]:
hotel_df.head(10)

              city  max_temp      lat       lng                 Hotel Name
12         Ushuaia     33.46 -54.8000  -68.3000             Albatros Hotel
33    Punta Arenas     39.31 -53.1500  -70.9167  Hotel Dreams Del Estrecho
89          Barrow     37.42  71.2906 -156.7887             King Eider Inn
109    Clyde River     39.43  70.4692  -68.5914                Qamaq Hotel
110        Qaanaaq     38.05  77.4840  -69.3632              Qaanaaq Hotel
198  Leningradskiy     37.06  69.3833  178.4167                 Gostinitsa
204          Tiksi     39.27  71.6872  128.8694                    Arktika
253  Graaff-Reinet     38.91 -32.2522   24.5308            Rietjiesbos B&B
403        Te Anau     39.83 -45.4167  167.7167    Kingsgate Hotel Te Anau
406     Willowmore     35.80 -33.2926   23.4895             Jumper's Place

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Max Temp</dt><dd>{max_temp} °F</dd>
</dl>
"""

In [35]:
#add hotel info like name city and ... to the marker layer
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_info

['\n<dl>\n<dt>Hotel Name</dt><dd>Albatros Hotel</dd>\n<dt>City</dt><dd>Ushuaia</dd>\n<dt>Max Temp</dt><dd>33.46 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Dreams Del Estrecho</dd>\n<dt>City</dt><dd>Punta Arenas</dd>\n<dt>Max Temp</dt><dd>39.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>King Eider Inn</dd>\n<dt>City</dt><dd>Barrow</dd>\n<dt>Max Temp</dt><dd>37.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Qamaq Hotel</dd>\n<dt>City</dt><dd>Clyde River</dd>\n<dt>Max Temp</dt><dd>39.43 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Qaanaaq Hotel</dd>\n<dt>City</dt><dd>Qaanaaq</dd>\n<dt>Max Temp</dt><dd>38.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Gostinitsa</dd>\n<dt>City</dt><dd>Leningradskiy</dd>\n<dt>Max Temp</dt><dd>37.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Arktika</dd>\n<dt>City</dt><dd>Tiksi</dd>\n<dt>Max Temp</dt><dd>39.27 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Rietjiesbos B&B</dd>\n<dt>City</dt><dd>Graaff-Reinet</dd>\n<dt>Max Temp</dt><dd>38.91 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kingsgate Hotel Te Anau</dd>\n<dt>City</dt><dd>Te Anau</dd>\n<dt>Max Temp</dt><dd>39.83 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Jumper's Place</dd>\n<dt>City</dt><dd>Willowmore</dd>\n<dt>Max Temp</dt><dd>35.8 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lazy River Motor Inn</dd>\n<dt>City</dt><dd>Swan Hill</dd>\n<dt>Max Temp</dt><dd>39.79 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ley-Lia Guest House</dd>\n<dt>City</dt><dd>Aranos</dd>\n<dt>Max Temp</dt><dd>38.08 °F</dd>\n</dl>\n']

In [37]:
#add heat_map
location=hotel_df[["lat","lng"]]
max_temp=hotel_df["max_temp"]

heat_layer=gmaps.heatmap_layer(location,weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# hotel marker with names
marker_layer = gmaps.marker_layer(location, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))