## Deliverable 2. Create a Customer Travel Destinations Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,city,lat,lng,max temp,Humidity,Cloudiness,wind speed,Weather description,country
0,0,Isangel,-19.5500,169.2667,77.54,82,7,5.23,clear sky,VU
1,1,Upernavik,72.7868,-56.1549,40.57,93,100,4.76,light rain,GL
2,2,Mataura,-46.1927,168.8643,42.48,85,41,3.31,scattered clouds,NZ
3,3,Cherskiy,68.7500,161.3000,49.80,65,0,6.02,clear sky,RU
4,4,Torbay,47.6666,-52.7314,64.76,92,75,8.05,broken clouds,CA

In [15]:
city_data_df.dtypes

City_ID                  int64
city                    object
lat                    float64
lng                    float64
max temp               float64
Humidity                 int64
Cloudiness               int64
wind speed             float64
Weather description     object
country                 object
dtype: object

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 75

In [17]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferd_cities_df=city_data_df.loc[(city_data_df["max temp"] >=50.00) & (city_data_df["max temp"]<=75.00)]
preferd_cities_df

,City_ID,city,lat,lng,max temp,Humidity,Cloudiness,wind speed,Weather description,country
4,4,Torbay,47.6666,-52.7314,64.76,92,75,8.05,broken clouds,CA
5,5,Cape Town,-33.9258,18.4232,50.27,66,0,2.30,clear sky,ZA
8,8,Sudak,44.8500,34.9667,72.21,57,20,5.55,few clouds,UA
10,10,Mbarara,-0.6080,30.6500,66.94,55,19,2.21,few clouds,UG
11,11,Bredasdorp,-34.5322,20.0403,51.12,76,0,12.66,clear sky,ZA
...,...,...,...,...,...,...,...,...,...,...
699,699,Grindavik,63.8424,-22.4338,54.55,100,90,14.97,light intensity drizzle,IS
700,700,Capao Da Canoa,-29.7456,-50.0097,59.99,78,0,5.50,clear sky,BR
705,705,Okhotsk,59.3833,143.3000,58.66,88,91,2.26,overcast clouds,RU
706,706,Pokhara,28.2333,83.9833,73.76,94,100,2.04,moderate rain,NP
707,707,Nabire,-3.3667,135.4833,74.43,93,100,1.83,light rain,ID

In [18]:
# 4a. Determine if there are any empty rows.
preferd_cities_df.count()

City_ID                332
city                   332
lat                    332
lng                    332
max temp               332
Humidity               332
Cloudiness             332
wind speed             332
Weather description    332
country                329
dtype: int64

In [22]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferd_cities_df.dropna()
clean_df

,City_ID,city,lat,lng,max temp,Humidity,Cloudiness,wind speed,Weather description,country
4,4,Torbay,47.6666,-52.7314,64.76,92,75,8.05,broken clouds,CA
5,5,Cape Town,-33.9258,18.4232,50.27,66,0,2.30,clear sky,ZA
8,8,Sudak,44.8500,34.9667,72.21,57,20,5.55,few clouds,UA
10,10,Mbarara,-0.6080,30.6500,66.94,55,19,2.21,few clouds,UG
11,11,Bredasdorp,-34.5322,20.0403,51.12,76,0,12.66,clear sky,ZA
...,...,...,...,...,...,...,...,...,...,...
699,699,Grindavik,63.8424,-22.4338,54.55,100,90,14.97,light intensity drizzle,IS
700,700,Capao Da Canoa,-29.7456,-50.0097,59.99,78,0,5.50,clear sky,BR
705,705,Okhotsk,59.3833,143.3000,58.66,88,91,2.26,overcast clouds,RU
706,706,Pokhara,28.2333,83.9833,73.76,94,100,2.04,moderate rain,NP
707,707,Nabire,-3.3667,135.4833,74.43,93,100,1.83,light rain,ID

In [24]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["city", "country", "max temp", "Weather description", "lat", "lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,city,country,max temp,Weather description,lat,lng,Hotel Name
4,Torbay,CA,64.76,broken clouds,47.6666,-52.7314,
5,Cape Town,ZA,50.27,clear sky,-33.9258,18.4232,
8,Sudak,UA,72.21,few clouds,44.8500,34.9667,
10,Mbarara,UG,66.94,few clouds,-0.6080,30.6500,
11,Bredasdorp,ZA,51.12,clear sky,-34.5322,20.0403,
13,Yatou,CN,73.33,scattered clouds,37.1500,122.3833,
14,Rikitea,PF,71.42,overcast clouds,-23.1203,-134.9692,
15,Aklavik,CA,62.42,overcast clouds,68.2191,-135.0107,
17,Khatanga,RU,50.81,few clouds,71.9667,102.5000,
20,Severo-Kurilsk,RU,55.22,overcast clouds,50.6789,156.1250,

In [39]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index,row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat=row["lat"]
    lng=row["lng"]
    params["location"]=f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    hotel_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotel=requests.get(hotel_url,params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        
        hotel_df.loc[index, "Hotel Name"]=hotel["results"][0]["name"]
    except (IndexError):
        print("hotel not found skip")
      
        continue

hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip
hotel not found skip

In [41]:
# 7. Drop the rows where there is no Hotel Name.
nan_value = float("NaN")
hotel_df.replace("", nan_value, inplace=True)
clean_hotel_df=hotel_df.dropna();
clean_hotel_df.head(20)

,city,country,max temp,Weather description,lat,lng,Hotel Name
4,Torbay,CA,64.76,broken clouds,47.6666,-52.7314,Gallows Cove
5,Cape Town,ZA,50.27,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
8,Sudak,UA,72.21,few clouds,44.8500,34.9667,Solari Beach
10,Mbarara,UG,66.94,few clouds,-0.6080,30.6500,Oxford Hotel
11,Bredasdorp,ZA,51.12,clear sky,-34.5322,20.0403,Bredasdorp Country Manor
13,Yatou,CN,73.33,scattered clouds,37.1500,122.3833,GreenTree Hotel Rongcheng Bus Station
14,Rikitea,PF,71.42,overcast clouds,-23.1203,-134.9692,People ThankYou
15,Aklavik,CA,62.42,overcast clouds,68.2191,-135.0107,Aklavik Inn
17,Khatanga,RU,50.81,few clouds,71.9667,102.5000,"Gostinitsa ""Zapolyar'ye"""
20,Severo-Kurilsk,RU,55.22,overcast clouds,50.6789,156.1250,Kak Doma
21,Kodiak,US,54.91,moderate rain,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
23,Kajaani,FI,53.65,clear sky,64.2273,27.7285,Original Sokos Hotel Valjus
27,Swellendam,ZA,50.38,clear sky,-34.0226,20.4417,De Kloof Luxury Estate boutique Hotel & SPA
28,Ivaipora,BR,61.66,clear sky,-24.2478,-51.6847,Vilhar Palace Hotel
37,Sao Joao Da Barra,BR,73.49,clear sky,-21.6403,-41.0511,Pousada Porto De Canoas
40,Mahebourg,MU,70.09,light intensity shower rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
41,Arraial Do Cabo,BR,71.56,clear sky,-22.9661,-42.0278,Pousada Porto Praia
42,Constitucion,CL,57.27,overcast clouds,-35.3333,-72.4167,Hotel Boutique Las Azucenas
45,Port Hedland,AU,64.45,clear sky,-20.3167,118.5667,The Esplanade Hotel
46,Port Alfred,ZA,53.26,light rain,-33.5906,26.8910,The Halyards Hotel

In [52]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [53]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{city}</dd>
<dt>Country Code</dt><dd>{country}</dd>
<dt>Weather Description</dt><dd>{Weather description}</dd>
<dt>Max Temp</dt><dd>{max temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["lat", "lng"]]

In [59]:
# 11a. Add a marker layer for each city to the map. 


fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)



# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))